*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-bg) ;
    color: var(--primary-text);
}


/* header SECTION */
.navbar-custom {
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--primary-bg) !important;
    margin-bottom: 50px ;
}

.navbar-custom .nav-link:hover{
    color: var(--btn-color) !important;
}

.navbar-custom .navbar-brand {
    color: var(--btn-color) !important;
}

.btn-subscribe {
    background-color: var(--btn-color) !important;
    border-color: var(--btn-color) !important;
    color: var(--accent-color);
}

.btn-subscribe:hover {
    background-color: var(--btn-hover) !important;
    border-color: var(--btn-hover) !important;
    color: var(--accent-color);
}

.navbar-custom .navbar-toggler {
    border-color: var(--btn-hover) !important; 
}
  
.navbar-custom .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E <path stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important; /* white lines */
}
        
.navbar-nav .dropdown:hover .dropdown-menu { /* to make the dropsown by hover */
    display: block;
    /* margin-top: 100;  */

}
.navbar-nav .dropdown-menu .dropdown-item:hover{
    color: var(--btn-color) !important;
}




/*** for the entroduction section ***/

.btn-outline{
    border-color: var(--btn-hover) !important;
    color: var(--btn-color) !important;
}
.btn-outline:hover{
    background-color: var(--btn-hover) !important;
    color: var(--accent-color) !important;
}


.form-control { /* to chang the border color */
    border-color: var(--btn-color) !important;
}
.form-control:focus { /* for the houver efect  */
    border-color: var(--btn-hover) !important;
    box-shadow: 0 0 0 0.2rem rgba(93, 167, 162, 0.25); /* Adjust shadow color if needed */
}


/* for the under line of the title    TODO:fined out why it is not working */ 
.card-body > h4.card-title > a,
.list-group-item .card-body h4.card-title > a,
h3 > a.btn-link {
    text-decoration: none;
    background-image: linear-gradient(to right, var(--under-line-color), var(--under-line-color));
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
    display: inline;
    padding-bottom: 2px;
}

.card-body > h4.card-title > a:hover,
.list-group-item .card-body h4.card-title > a:hover,
h3 > a.btn-link:hover {
    background-size: 100% 2px;
}


/* for the articals page */

.article-card-img {
    max-height: auto;
    width: 100%;
    object-fit: cover;
}


/* for the login/signup */
.modal-bg{
    background-color: var(--secoundary-bg);
}


/* for the highlights */
.fixed-size-img{
    width:200px;
    height:200px;
    object-fit:cover;
}


/* PAGE COLOR THEME */
:root {
    --primary-bg: #ffffff;
    --secoundary-bg: #e8eefc;
    --primary-text: #181b1f;
    --btn-color: #2bb2a9; 
    --btn-hover: #59aca6;
    --accent-color: #e2ebf4;    
    --secondary-color: #577B8D; 
    --highlight-color: #34643c;
    --under-line-color: black;
}