*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-bg) ;
    color: var(--primary-text);
}
.pagination .page-item .page-link{
    background-color: var(--primary-bg);
    color: var(--primary-text);
    /* border-color: var(--btn-color); */
}

/* for the devider */
.section-divider {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}


/* logo */
.logo{
    display: inline-block;
    img{
        max-height: 50px;
        width: auto;
        display:block;
    }
}

/* header SECTION */
.searchBtn{
    border-radius: 0 !important;
    border: none !important;
    border-left: 2px solid var(--primary-text) !important;
}
.navbar-custom {
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--primary-bg) !important;
    margin-bottom: 0;
}

.navbar-custom .nav-link:hover{
    color: var(--btn-color) !important;
}

.navbar-custom .navbar-brand {
    color: var(--btn-color) !important;
}
.btn-subscribe-outline{
    border-color: var(--btn-color) !important;
    color: var(--primary-text);
}

.btn-subscribe {
    background-color: var(--btn-color) !important;
    border-color: var(--btn-color) !important;
    color: var(--accent-color);
}

.btn-subscribe:hover , .btn-subscribe-outline:hover {
    background-color: var(--btn-hover) !important;
    border-color: var(--btn-hover) !important;
    color: var(--accent-color);
}


.navbar-custom .navbar-toggler {
    border-color: var(--btn-hover) !important; 
}
  
.navbar-custom .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E <path stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important; /* white lines */
}
        
/* .navbar-nav .dropdown:hover .dropdown-menu { /* to make the dropsown by hover 
    display: block;
    /* margin-top: 100;  

} */
.navbar-nav .dropdown-menu .dropdown-item:hover{
    color: var(--btn-color) !important;
}

/* for the search area */
.top-search-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin-left:8%; 
    margin-right:8%; 
    background-color: var(--primary-bg);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 1050; /* Higher than navbar */
    padding: 1rem 0;
    border-radius: 5px;
}

.top-search-container.show {
    transform: translateY(0);
}

.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1040;
    display: none;
}

.search-overlay.show {
    display: block;
}


/*** for the entroduction section ***/
.form-control { 
    border-color: var(--btn-color) !important;
}
.form-control:focus { /* for the houver efect  */
    border-color: var(--btn-hover) !important;
    box-shadow: 0 0 0 0.2rem rgba(93, 167, 162, 0.25);
}


/* for the under line of the title    */ 
.stretched-link {
    text-decoration: none;
    background-image: linear-gradient(to right, var(--under-line-color), var(--under-line-color));
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
    display: inline;
    padding-bottom: 2px;
}

.stretched-link:hover {
    background-size: 100% 2px;
}



/* for the login/signup */
modal-bg{
    background-color: var(--primary-bg);
}
button.btn.btn-bg{  /* for the google sub */
    background-color: var(--primary-bg) !important;    
    border-color: var(--btn-color) !important;
    border-left: none !important;
    color: var(--primary-text) !important;
}




/* PAGE COLOR THEME */
:root {
    --primary-bg: #fefeff;
    /* --secoundary-bg: #e8eefc; */
    --div-clr:#090000a1;
    --primary-text: #363737;
    --btn-color: #2bb2a9; 
    --btn-hover: #5fcac3;
    --accent-color: #e2ebf4;    
    --secondary-color: #577B8D; 
    --highlight-color: #34643c;
    --under-line-color: black;
}